.profileBody {
  width: clamp(400px, 100vw, 700px);
  gap: 10px 20px;
  padding: 10px;
  white-space: pre-line;
}
.grid {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  gap: 10px;
}
#username {
  font-size: 1.4rem;
}
.profileHeader {
  display: flex;
}
#profilePicture {
  min-width: 150px;
  min-height: 150px;
  width: 15vw;
  margin-right: 1rem;
  height: 15vw;
  border-radius: 15px;
}
.frindAndEditProfileBtn {
  background: #dadde1;
  color: #444950;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 4vh;
  font-size: 1rem;
  margin-right: 10px;
  margin-left: auto;
  height: max-content;
}
.profileLinks {
  display: flex;
  flex-direction: row;
  min-width: 150px;
  width: 15vw;
  justify-content: center;
}
.profileLinks a {
  padding: 1vh;
  font-size: 1.2rem;
}

#facebook {
  color: rgb(17, 80, 163);
}

#twitter {
  color: rgb(29, 161, 242);
}
#insta {
  color: #dd2a7b;
}
