.profileEditor {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fff;
}

.profileEditor input,
textarea {
  outline: none;
  border: none;
  cursor: pointer;
  height: 35px;
  background-color: #f2f3f5;
  border-radius: 8px;
}
textarea {
  resize: none;
  height: 60px;
}
.profileEditor input:focus,
textarea:focus {
  border: 1px solid #004c8e;
}
